/* heigh of semantic ui menu. Is it correct? */
$nav_height: calc(2.85714286em + 10px);

.grid-wrapper{
    min-height: calc(100vh - 2*#{$nav_height});

    #about-us {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 20px;
        row-gap: 50px;
        padding: 50px;
    
    }
    
    @media only screen and (max-width: 800px) {
        #about-us {
            row-gap: 20px;
            padding: 20px;
        }
    }
}

