.row {
    height: 200px;
    display: flex;
    opacity: 0;
    animation: row-in 2s forwards;
    animation-delay: 2s;

    @keyframes row-in {
        0% {
            opacity: 0;
        }    
        100% {
            opacity: 1;
        }
    }

    img {
        margin-top: auto;
        margin-bottom: auto;
        height: 60%;
    }

    .text-box, .text-box:before, .text-box:after  {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
      }

    .text-box {
        position: relative;
        width: 50%;
        padding: 2em;
        margin: 10px auto;
        flex-grow: 100;

        .title {
            font-size: 1.8em;
            font-weight: normal;
            text-align: center;
            padding: 0.2em 0;
            margin: 0;
            border-top: 1px solid #ddd;
            border-bottom: 2px solid #ddd;
        }

        p {
            text-align: left;
            font-size: 1.2em;
        }
    }

    .text-box:before, .text-box:after  {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: rotateZ(2.5deg);
        -o-transform: rotate(2.5deg);
        transform: rotateZ(2.5deg);
        z-index: -1;
      }
    
      .text-box:after  {
        -webkit-transform: rotateZ(-2.5deg);
        -o-transform: rotate(-2.5deg);
        transform: rotateZ(-2.5deg);
      }

}

.row.odd {
    grid-column-start: 2;
    grid-column-end: 4;

    img {
        margin-right: 10px;
    }
}

.row.even {
    grid-column-start: 1;
    grid-column-end: 3;

    img {
        margin-left: 10px;
    }
}
