.side-bar {
    position: absolute;
    display: flex;
    top:0px;
    height: 100%;
    z-index: 1;

    .filters {
        background-color: white;
        border-right: 2px groove rgb(214, 214, 214);
        padding: 10px;
        transition: 1s;
    }


    .hidden {
        display: none;
    }
}

