/* heigh of semantic ui menu. Is it correct? */
$nav_height: calc(2.85714286em + 12px);

.side-bar {
    position: absolute;
    display: flex;
    top:0px;
    height: calc(96vh - #{$nav_height});
    margin-top: #{$nav_height};
    z-index: 1;

    .filters {
        background-color: white;
        border-right: 2px groove rgb(214, 214, 214);
        padding: 10px;
        transition: 1s;
    }


    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .side-bar {
        margin-top: 0;
    }
}

